<div class="container-fluid">
  <ol class="breadcrumb bg-white text-dark mb-0 pl-0">
    <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
    <li class="breadcrumb-item active" aria-current="page">대시보드</li>
  </ol>
  <h3>대시보드</h3>
  <div class="row mb-5">

    <div class="col">

      <!-- 나의 상품현황 -->
      <div class="row">
        <div class="col mb-4">
          <div class="card">
            <div class="card-header row no-gutters p-3">
              <div class="col align-self-center">
                <b class="mb-0">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box ml-3" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
                  </svg>
                  나의 상품 현황</b>
              </div>
              <div class="col text-right">
                <h6 class="text-muted mb-0">
                  <small>채굴현황</small>
                  <button type="button" class="btn ml-2 border btn-icon" style="background-color: white;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-table" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
                    </svg>
                  </button>
                </h6>

              </div>

            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p class="card-text">나의 총 해시레이트(Th/s)</p>
                </div>
                <div class="col text-right">
                  <h5 class="card-title">50 TH/s</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="card-text">나의 상품 개수</p>
                </div>
                <div class="col text-right">
                  <h5 class="card-title">1</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 금일 채굴량 -->
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col align-self-center">
                  <h6 class="card-text">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bootstrap ml-3" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M12 1H4a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3zM4 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4H4z" />
                      <path fill-rule="evenodd"
                        d="M8.537 12H5.062V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396zM6.375 4.658v2.467h1.558c1.16 0 1.764-.428 1.764-1.23 0-.78-.569-1.237-1.541-1.237H6.375zm1.898 6.229H6.375V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377z" />
                    </svg>
                    금일 채굴량</h6>
                </div>
                <div class="col text-right">
                  <h6 class="text-muted mb-0">
                    <small>채굴내역</small>
                    <button type="button" class="btn ml-2 border btn-icon" style="background-color: white;">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-table" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
                      </svg>
                    </button>
                  </h6>
                </div>
              </div>
              <div class="row">
                <div class="col text-right">
                  <h2 class="card-title mt-3">0.0002425<span> BTC</span></h2>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- 공지사항 -->
    <div class="col">
      <div class="card">

        <div class="card-header row no-gutters p-4">
          <div class="col align-self-center">
            <b class="mb-0">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-square-text ml-2" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M14 1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.5a2 2 0 0 1 1.6.8L8 14.333 9.9 11.8a2 2 0 0 1 1.6-.8H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                <path fill-rule="evenodd"
                  d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
              </svg>
              공지사항</b>
          </div>
          <div class="col text-right">
            <h6 class="text-muted mb-0">
              <small>더보기</small>
            </h6>

          </div>

        </div>

        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr class="border-bottom" *ngFor="let post of posts">
                <td style="width:80%">{{post.post_title}}</td>
                <!-- <td>{{post.post_datetime | date: 'yyyy/MM/dd'}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col ">
      <div class="card">
        <div class="card-header p-4">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box ml-2" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
          </svg>
          상품 정보
        </div>
        <div class="card-body p-4">
          <div class="row pb-3">
            <div class="col">
              <p class="card-text">1 Th/s 당 관리비 (수수료)</p>
            </div>
            <div class="col text-right">
              <h5 class="card-title m-0">0.045 USD</h5>
            </div>
          </div>

          <div class="row">
            <div class="col align-self-center">
              <p class="card-text">1 Th/s당 보상량</p>
            </div>
            <div class="col text-right">
              <h5 class="card-title m-0">0.0902583 USD /<br> 0.00000481 BTC</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header row no-gutters p-4">
          <div class="col  align-self-center">
            <b class="mb-0">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-table ml-2" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
              </svg>
              나의 문의글 현황</b>
          </div>
          <div class="col text-right">
            <h6 class="text-muted mb-0">
              <small>더보기</small>
            </h6>
          </div>

        </div>
        <div class="card-body p-4 pt-5 pb-5">
          <h6 class="card-text text-center">아직 작성한 문의글이 없습니다.</h6>
        </div>
      </div>
    </div>
  </div>

</div>